/* Estilos para el botón de completar */
#completar {
  transition: all 500ms ease-in-out; 
}

#completar:hover {
  background-color: rgb(54, 175, 54); 
}

/* Estilos para el botón de eliminar */
#eliminar {
  transition: all 500ms ease-in-out; 
}

#eliminar:hover {
  background-color: rgb(248, 116, 116);
}

/* Estilos para tareas completadas */
.completada {
  text-decoration: line-through; 
}

/* Estilos para tareas no completadas */
.noCompletada {
  text-decoration: none; 
}


.containerTarea {
  padding: 5px; 
  border-radius: 10px; 
  margin: 10px; 
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; 
  transition: all 1s ease-in-out; 
  background-color: rgb(249, 164, 164); 
}


.containerTareaCompletada {
  transition: all 1s ease-in-out; 
  background-color: rgb(79, 208, 79); 
}